/* propriétés par défaut */
// des liens de manière générale
line {
  stroke: $liens-couleurs-defaut;
  stroke-linecap: round;
  opacity: $liens-opacite-defaut;
}
// des liens de parenté
line.parente {
  stroke-width: $liens-parente-epaisseur;
  opacity: $liens-parente-opacite;
}
// des liens d'association
line.association {
  stroke-width: $liens-association-epaisseur;
  opacity: $liens-association-opacite;
}

/* cycle d'assignement des couleurs */
@for $i from 1 through $nombre-themes {
  line.theme_#{$i} {
    stroke: nth($couleurs-themes, $i)
  }
}
